@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

main {
    background-color: #EAEAEA;
    font-family: "Open Sans", sans-serif;
}

#app {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    text-shadow: 0 0 5px #73628A, 0 0 20px #000, 0 0 30px #000;
}

#app h1 {
    --fontSize: 60px;
    --lineHeight: 80px;
    width: auto;
    height: calc(2 * var(--lineHeight));
    line-height: var(--lineHeight);
    margin: calc(10vh - var(--lineHeight)) auto 0;
    font-size: var(--fontSize);
    text-transform: uppercase;
}

#app canvas {
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
}




