{% extends 'base.html.twig' %}

{% block title %}Sandrine Coupart - Inscription{% endblock %}

{% block body %}
    <main class="main">
        <h1 class="ml-5">Inscription</h1>
        <div class="ml-5 mr-5 mt-5">
        {{ form(form) }}
        </div>
        <div>
            {# Pensez à créer le lien vers la page connexion #}
            <a href="{#  {{ path('') }} #}" class="ml-5">Déjà inscrit ? Connectez-vous !</a>
        </div>
    </main>
{% endblock %}
