{% extends 'base.html.twig' %}

{% block title %}Sandrine Coupart - Inscription{% endblock %}

{% block body %}
    <h1 class="ml-5">Inscription</h1>
    <div class="ml-5 mr-5">
    {{ form(form) }}
    </div>
{% endblock %}
