{% extends 'base.html.twig' %}

{% block title %}Sandrine Coupart - Contact{% endblock %}

{% block body %}
{#    Faire une page de contact#}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mt-5 mb-5">Contact</h1>
                <p class="mb-5">Vous pouvez me contacter par mail à l'adresse suivante :
                    <a href="mailto:sc@sandrinecoupart.studi" >Contactez moi à cette adresse</a>
                </p>
            </div>
        </div>
    </div>



{% endblock %}
