{% extends 'base.html.twig' %}

{% block title %}Sandrine Coupart - Mentions Légales{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1>Mentions Légales</h1>
                <p>Conformément à la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, vous trouverez ci-dessous les informations légales concernant ce site.</p>
                <h2>Editeur</h2>
                <p>Sandrine Coupart<br />
                2 rue de la Gare<br />
                62140 Hesdin<br />
                France<br />
                <a href="mailto:
                ">
                </a></p>
                <h2>Hébergeur</h2>
                <p>OVH<br />
                2 rue Kellermann<br />
                59100 Roubaix<br />
                France<br />
                <a href="http://www.ovh.com">www.ovh.com</a></p>
                <h2>Crédits</h2>
                <p>Création du site : <a href="https://www.neoliaweb.fr">Yoni-Alexandre Brault</a></p>
            </div>
        </div>
    </div>
{% endblock %}
